

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: var(--space-lg);
  animation: fadeIn var(--transition-normal) var(--transition-ease);
}

.modal__container {
  background-color: var(--bg-primary);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-xl);
  width: 100%;
  max-width: 52rem;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: slideIn var(--transition-normal) var(--transition-ease);
  padding: var(--space-3xl);

}

@media (min-width: var(--breakpoint-mobile)) {
  .modal__container {
    max-width: 40rem;
  }
}

@media (min-width: var(--breakpoint-tablet)) {
  .modal__container {
    max-width: 50rem;
  }
}

@media (min-width: var(--breakpoint-laptop)) {
  .modal__container {
    max-width: 60rem;
  }
}

@media (min-width: var(--breakpoint-desktop)) {
  .modal__container {
    max-width: 70rem;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);
  background-color: transparent;
  border-radius: var(--border-radius-lg);
}

.modal__title {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
}

.modal__close {
  background: transparent;
  border: none;
  font-size: var(--font-size-xl);
  line-height: 1;
  cursor: pointer;
  color: var(--text-white);
  transition: color var(--transition-fast);
}

.modal__close:hover {
  color: var(--text-primary);
}

.modal__body {
  margin-bottom: var(--space-md);
}

.modal__field {
  margin-bottom: var(--space-md);
  margin: var(--space-lg) 0
}

.modal__field--checkbox {
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
  color: var(--text-secondary);
}

.modal__field--checkbox input {
  margin-right: var(--space-sm);
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-sm);
}

.modal__btn {
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-base);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background var(--transition-fast), color var(--transition-fast);
}

.modal__btn--cancel {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.modal__btn--cancel:hover {
  background: var(--bg-secondary-hover);
}

.modal__btn--confirm {
  background: var(--color-primary);
  color: var(--text-white);
}

.modal__btn--confirm:hover {
  background: var(--color-primary-dark);
}

.MuiSvgIcon-root{
  font-size: var(--font-size-xl) !important;
}