.ws-page__container {
  padding: var(--space-sm) var(--space-2xl);
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: var(--space-lg);
}

.ws-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ws-page__header-content {
  display: flex;
  flex-direction: column;
}
.ws-page__btnContainer{
  text-align: right;
}
.ws-page__title {
  margin: 0;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  text-align: left;
}

.ws-page__subtitle {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--text-muted);
  text-align: left;
}

.ws-page__loading,
.ws-page__error {
  grid-column: 1 / -1;
  font-size: var(--font-size-base);
  text-align: center;
}

.ws-page__error {
  color: var(--color-error);
}

/* Button tweaks */
.ws-page__header > button {
  align-self: start;
}