.workShift-container{
    padding: var(--space-sm) var(--space-2xl);
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    padding-bottom: var(--space-3xl);
}
.workShift-top{
    display: grid;
   grid-template-columns: 1fr 0.2fr;
   align-items: center;
}
.workShift-header{
    text-align: left;
}

.table__cell--header {
  font-size: var(--font-size-lg) !important;
  background-color: var(--color-primary) !important;
  color: var(--text-white) !important;
}

.workShift-title{
    margin-bottom: 0;
}
.workShift-subtitle{
    color: var(--text-muted);
}