.login-form{
    max-width: 250px;
    background-color: var(--bgColor);
    border-radius: 12px;
}

.form-title{
    font-size: 18px;
    font-weight: bold;
    color: var(--PrimaryColor);
    text-align: center;
}

.form-subTitle{
    font-size: 14px;
    text-align: center;
    color: var(--textColor);
}

.form-email{
    border-radius: 8px;
    background-color: transparent;
    color: var(--textColor);
    font-size: 14px;
    padding: 2px 4px;
    text-align: left;
    border: solid 1px var(--PrimaryColor);
}
.form-password{
    border-radius: 8px;
    background-color: transparent;
    color: var(--textColor);
    font-size: 14px;
    padding: 2px 4px;
    text-align: left;
}
.form-errors{
    color: var(--errorColor);
    font-size: 12px;
    margin-top: 4px;
    text-wrap:wrap;
}

.form-button{
    color: var(--whiteColor);
    background-color: var(--PrimaryColor);
    border-radius: 8px;
    font-size: 12;
    font-weight: bold;
    margin: 2px 4px;
    text-align: center;
    transition: color 2s ease-in-out;
}

.form-button:hover{
    opacity: 90;
}