:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor: #1872F6;
  --textColor: #242424;
  --bgColor:#fff;
  --errorColor:#E74129;
}

:root > * {
  margin: 30px 0;
}