@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--bg-secondary);
  color: var(--text-default);
  line-height: 1.5;
}

:root {
  --color-primary-start: #356ace;
  --color-primary-end: #2251a8;
  --color-primary-hover-opacity: 0.9;
  --bg-secondary: #f3f4f6;
  --bg-secondary-hover: #e5e7eb;
  --bg-tertiary: transparent;
  --border-tertiary: #d1d5db;
  --bg-tertiary-hover: #f9fafb;
  --color-destructive: #dc2626;
  --bg-destructive-hover: rgba(220, 38, 38, 0.1);
  --text-default: #131418;
  --border-default: #d1d5db;
  --error: #dc2626;
  --input-bg: #ffffff;
  --input-focus-border: #2251a8;
  --grayColor: #374151;
  --greenColor: #37c255;
}
.loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.general-container{
  display: grid;
  grid-template-columns: 250px 1fr;
  min-width: 100vw;
}

@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
  }
}
