.forgotPassword-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-secondary);
}

.forgotPassword-content {
  display: flex;
  flex: 1;
  height: 100%;
  max-width: 70%;
  padding: 4rem 0;
}

.forgotPassword-info {
  padding: 2rem;
  background: var(--color-primary-start);
  color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
}

.forgotPassword-title {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: var(--bg-secondary);
}

.forgotPassword-description {
  font-size: 1.125rem;
  margin-bottom: 0.7rem;
  color: var(--border-tertiary);
}

.forgotPassword-steps {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  color: var(--border-tertiary);
}

.forgotPassword-steps li {
  margin: 0.25rem 0;
  font-weight: 500;
}

.forgotPassword-image {
   max-width: 60%;
  height: auto;
  margin-top: .5rem;
}

.forgotPassword-form-section {
  flex: 1;
  max-width: 800px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
}

.forgotPassword-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.forgotPassword-help {
  font-size: 0.9rem;
  color: var(--text-default);
  text-decoration: none;
  transition: color 0.2s ease;
}

.forgotPassword-help:hover {
  color: var(--color-primary-end);
}

.forgotPassword-subtitle {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: var(--grayColor);
}

.forgotPassword-error {
  margin-bottom: 1rem;
  color: var(--error);
  font-weight: 500;
}

.forgotPassword-label {
  display: block;
  margin: 0.5rem 0 0.25rem;
  font-weight: 500;
  color: var(--text-default);
}

.forgotPassword-submit {
  width: 100%;
  margin-top: 1rem;
}

.forgotPassword-forgot-link {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
}

.forgotPassword-forgot-link {
  color: var(--color-primary-end);
  text-decoration: none;
  font-weight: 500;
}

.forgot-link:hover {
  text-decoration: underline;
}

@media (max-width: 770px) {
  .forgotPassword-content {
    flex-direction: column;
  }
  .forgotPassword-info {
    display: none;
  }
  .forgotPassword-form-section {
    max-width: 100%;
    padding: 1rem;
  }
}