.forgotPassword-page{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.forgotPassword-content{
    display: flex;
    flex: 1;
}

.forgotPassword-info{
    flex: 1;
    padding: 2rem;
    background-color: var(--color-primary-start);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotPassword-title{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--bg-secondary);
}

.forgotPassword-description{
    font: 1.125rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
    color: var(--border-tertiary);
}

.forgotPassword-steps{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
    color: var(--border-tertiary);
}

.forgotPassword-image{
    max-width: 50%;
    height: auto;
}

.forgotPassword-form-section{
    flex: 1;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
}
.forgotPassword-subtitle{
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color: var(--grayColor);
}

.forgotPassword-error{
    color: var(--error);
    font-weight: 500;
    margin-bottom: 1rem;
}
.forgotPasswordLabel{
    display: block;
    margin: 0.5rem 0 0.25rem;
    font-weight: 500;
    color: var(--text-default);
    text-align: left;

}
.forgotPassword-submit{
    width: 100%;
    margin: 1rem 0 3rem 0;
}
.forgotPassword-link{
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-primary-start);
    text-decoration: none;
    transition: color .2s ease;
    margin-top: 1rem;
}
.forgotPassword-submit{
    width: 100%;
    margin-top: 1rem;
}

@media (width <= 770px) {
    .forgotPassword-content {
      flex-direction: column;
    }
    .forgotPassword-info{
        display: none;
        visibility: hidden;
    }
  }