.resetPassword-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.forgotPassword-content{
    display: flex;
    flex: 1;
}
.resetPassword-info{
    flex: 1;
    padding: 2rem;
    background-color: var(--color-primary-start);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetPassword-title{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--bg-secondary);
}
.resetPassword-description{
    font: 1.125rem;
    margin-top: 0.5rem;
    color: var(--bg-secondary);
}
.resetPassword-steps{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.7rem;
    color: var(--border-tertiary);
}
.resetPassword-image{
    max-width: 50%;
    height: auto;
}
.resetPassword-form-section{
    flex: 1;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
}
.resetPassword-subtitle{
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color: var(--grayColor);
}
.resetPassword-error{
    color: var(--err);
    font-size: 1rem;
    font-weight: 500;
}
.newPasswordLabel{
    display: block;
    margin: 1.5rem 0 0.25rem;
    font-weight: 500;
    color: var(--text-default);
    text-align: left;
}

.resetPassword-submit{
    width: 100%;
    margin-top: 1rem;
}